{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>WebGame-Sample</title>
    <link rel="stylesheet" href="{% static 'game/css/title.css' %}" />
  </head>
  <body>
    <img src="{% static 'game/images/titleSample.png' %}" />
    <h1>This is the title thing</h1>
    <p>Something brief like press something to enter/start</p>
    <aside>
      <p><br />Everything will be centered and styled stuff</p>
    </aside>
    <!-- do something with this button so it send world in the url to move on -->
    <form>
      <input type="submit" value="start" name="start">
    </form>
  </body>
</html>
